#logo {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}


body {
    margin: 0;
    padding: 0;
    background: royalblue;
    text-align: center;
}

div a{
    text-decoration: none;
    display: inline-block;
    color:black;
}
.b {
    width: 100%;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin: 0;
    padding: 0;
    background: royalblue;
    text-align: center;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    
}

li {
    
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
    
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;

}

.p1{
    width: 100%;
    border: black;
    border-width: 2px;
    border-style: solid;
    margin: 0;
    padding: 0;
    background: royalblue;
    text-align: center;
}


h3 {
    display: inline-block;
}
h3 a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

table {
    table-layout: fixed;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: royalblue;
    text-align: center;
}
/* 
h2 {
    text align: left;
    display: inline-block;
    margin: 3px;
    padding: 0;

} */